@model DataAccessLayer.Entities.Test
@inject Core.Classes.Scopes scope
@{
    ViewData["Title"] = "تست مهاجرت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">تست مهاجرت</h1>

<hr />
<div class="offset-3">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="DoTest">
                <input type="hidden" asp-for="UserId" value="@scope.GetUserId(User.Identity.Name)" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Degree" class="control-label">مقطع تحصیلی</label>
                    <select asp-for="@Model.DegreeId" asp-items="@ViewBag.Degree"><option>لطفا یک مورد را انتخاب کنید</option></select>
                </div>

                <div class="form-group">
                    <label asp-for="SpentMoney" class="control-label">بودجه</label>
                    <select asp-for="@Model.SpentMoneyId" asp-items="@ViewBag.Spent"><option>لطفا یک مورد را انتخاب کنید</option></select>
                </div>

                <div class="form-group">
                    <label asp-for="Language" class="control-label">زبان</label>
                    <select asp-for="@Model.LangId" asp-items="@ViewBag.LangId"><option>لطفا یک مورد را انتخاب کنید</option></select>
                </div>

                <div class="form-group">
                    <label asp-for="Visa" class="control-label">ویزا</label>
                    <input asp-for="Visa"  />
                </div>

                <div class="form-group">
                    <label asp-for="Ielts" class="control-label">نمره آیلتس</label>
                    <input asp-for="Ielts" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="اتمام آزمون" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
