@model Core.ViewModel.TestDetailViewModel 
@using Core.Classes
@{

    Layout = null;
    
}




<h1 class="text-center">گزارشات آزمون</h1>
<div class="offset-3">

    <table class="table table-success table-striped">

        <thead class="thead-dark">
            <tr>
                <td>
                    تاریخ
                </td>
                <td>
                    نمره زبان
                </td>
                <td>
                    زبان
                </td>
                <td>
                    مقطع تحصیلی
                </td>
                <td>
                    بودجه مالی
                </td>
                <td>
                    لیست کشور های پیشنهاد شده
                </td>
                
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Tests)
            {
            <tr>
                <td> @item.Date.ToShamsi()</td>
                <td>@item.Ielts</td>
                <td>@item.Language.Name</td>
                <td>@item.Degree.Name</td>
                <td>@item.SpentMoney.Money</td>
                <td>
                    @foreach (var subitem in Model.CountryTests.Where(x=>x.TestId==item.Id))
                    {
                        <ul>
                            <li>
                                @subitem.Country.Name
                            </li>
                        </ul>
                    }
                </td>
               
            </tr>
            }
        </tbody>

    </table>

</div>

